# Dépendances
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/
.expo/
web-build/
*.tsbuildinfo
next-env.d.ts
expo-env.d.ts

# Code généré
apps/api/src/generated/

# Turborepo
.turbo/

# Tests
coverage/

# Environnement
.env
.env.*
!.env.example

# Divers
*.log
.DS_Store
Thumbs.db
.idea/

# Playwright
playwright-report/
test-results/
blob-report/
